# Version: 2.0
# https://gist.github.com/mageddo/0a77a179e1dc483679a23b83764ef0af#file-gitignore
# Operating System Files

*.DS_Store
Thumbs.db

# Build Files
*.log
bin
target
build/
.gradle
*.lock
lib

# Eclipse Project Files #

.classpath
.project
.settings

# IntelliJ IDEA Files #

out
*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml
README.html

# Misc
*.old
*.tmp
*.orig

# Binaries
*.so
*.dll
*.tgz
*.zip
*.tar
*.tar.gz
*.7z
*.rar
*.bz2
*.tar.*

####
# DPS Custom
####

# Dependencies
node_modules
.pnp
.pnp.js

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local
runjar.bat
conf
examples/tmp
issues
/files
tmp/
Poc.java
