# version: 1.0.2
# https://help.github.com/articles/dealing-with-line-endings/

*.java text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.properties text eol=lf
*.txt text eol=lf
*.log text eol=lf
*.gradle text eol=lf
*.jenkinsfile text eol=lf
gradlew text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.sql text eol=lf
.gitignore text eol=lf
.env text eol=lf
.gitattributes text eol=lf
.editorconfig text eol=lf
Dockerfile text eol=lf
*.Dockerfile text eol=lf
Dockerfile.* text eol=lf
*.json text eol=lf
*.bat text eol=crlf

*.so binary
*.dll binary
*.exe binary
*.jar binary
*.png binary
*.jpg binary
