<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property
    name="dpsLogPatternDefault"
    value="%d{HH:mm:ss.SSS} t=%.-15thread l=%3.-3level c=%.30logger{30}:%.4line m=%.30method{30} %mdc %msg%n"
  />

  <property
    name="logFile"
    value="${dpsLogFile:-/tmp/log.log}"
  />
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logFile}</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logFile}.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>120</maxHistory>
      <totalSizeCap>1000MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${dpsLogPattern:-${dpsLogPatternDefault}}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE"/>
  </root>

</configuration>
